# Deep Directories
**/node_modules

# Generated Directories
**/dist
**/build
**/.astro
**/__coverage__

# Directories
.changeset

# Files
pnpm-lock.yaml

# Test snapshots
**/__tests__/**/snapshots

# https://github.com/withastro/prettier-plugin-astro/issues/337
packages/starlight/user-components/Tabs.astro

# Prettier forces whitespace between elements we want to avoid for consistency with the rehype version
packages/starlight/components/AnchorHeading.astro
packages/starlight/__e2e__/fixtures/basics/src/content/docs/anchor-heading-component.mdx

# Malformed YAML file used for testing
packages/starlight/__tests__/i18n/malformed-yaml-src/content/i18n/*.yml

# GitHub Actions workflow files
.github/workflows/*.yml
