:root {
  /* Colors (dark mode) */
  --sb-color-black: hsl(223, 13%, 10%);
  --sb-color-gray-1: hsl(231, 23%, 94%);
  --sb-color-gray-2: hsl(228, 8%, 77%);
  --sb-color-gray-3: hsl(221, 8%, 56%);
  --sb-color-gray-4: hsl(225, 9%, 36%);
  --sb-color-gray-5: hsl(222, 11%, 23%);
  --sb-color-gray-6: hsl(222, 13%, 16%);
  --sb-color-white: hsl(0, 0%, 100%);

  --sb-hue-accent: 234;
  --sb-color-accent-dark: hsl(var(--sb-hue-accent), 54%, 20%);
  --sb-color-accent: hsl(var(--sb-hue-accent), 100%, 60%);
  --sb-color-accent-light: hsl(var(--sb-hue-accent), 100%, 87%);

  --sb-hue-status-red: 339;
  --sb-color-status-red-dark: hsl(var(--sb-hue-status-red), 39%, 22%);
  --sb-color-status-red: hsl(var(--sb-hue-status-red), 82%, 63%);
  --sb-color-status-red-light: hsl(var(--sb-hue-status-red), 82%, 87%);
  --sb-hue-status-purple: 281;
  --sb-color-status-purple-dark: hsl(var(--sb-hue-status-purple), 39%, 22%);
  --sb-color-status-purple: hsl(var(--sb-hue-status-purple), 82%, 63%);
  --sb-color-status-purple-light: hsl(var(--sb-hue-status-purple), 82%, 89%);
  --sb-hue-status-orange: 41;
  --sb-color-status-orange-dark: hsl(var(--sb-hue-status-orange), 39%, 22%);
  --sb-color-status-orange: hsl(var(--sb-hue-status-orange), 82%, 63%);
  --sb-color-status-orange-light: hsl(var(--sb-hue-status-orange), 82%, 87%);
  --sb-hue-status-green: 101;
  --sb-color-status-green-dark: hsl(var(--sb-hue-status-green), 39%, 22%);
  --sb-color-status-green: hsl(var(--sb-hue-status-green), 82%, 63%);
  --sb-color-status-green-light: hsl(var(--sb-hue-status-green), 82%, 87%);

  /* Shadows (dark mode) */
  --sb-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12),
    0px 2px 1px hsla(0, 0%, 0%, 0.24);
  --sb-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08),
    0px 5px 2px hsla(0, 0%, 0%, 0.08), 0px 3px 2px hsla(0, 0%, 0%, 0.12),
    0px 1px 1px hsla(0, 0%, 0%, 0.15);
  --sb-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03),
    0px 16px 6px hsla(0, 0%, 0%, 0.1), 0px 9px 5px hsla(223, 13%, 10%, 0.33),
    0px 4px 4px hsla(0, 0%, 0%, 0.75), 0px 4px 2px hsla(0, 0%, 0%, 0.25);

  /* Text size and line height */
  --sb-text-sm: 0.8125rem; /* 13px */
  --sb-text-base: 1rem; /* 16px */
  --sb-text-lg: 1.125rem; /* 18px */
  --sb-text-xl: 1.25rem; /* 20px */
  --sb-text-2xl: 1.5rem; /* 24px */
  --sb-text-3xl: 1.8125rem; /* 29px */
  --sb-text-4xl: 2.1875rem; /* 35px */
  --sb-text-5xl: 2.625rem; /* 42px */

  --sb-text-body: var(--sb-text-base);
  --sb-text-body-sm: var(--sb-text-sm);
  --sb-text-code: var(--sb-text-base);
  --sb-text-code-sm: var(--sb-text-sm);
  --sb-text-h1: var(--sb-text-5xl);
  --sb-text-h2: var(--sb-text-4xl);
  --sb-text-h3: var(--sb-text-3xl);
  --sb-text-h4: var(--sb-text-2xl);
  --sb-text-h5: var(--sb-text-lg);

  --sb-line-height: 1.8;
  --sb-line-height--headings: 1.2;
}

:root[data-theme='light'] {
  /* Colours (light mode) */
  --sb-color-white: hsl(223, 13%, 10%);
  --sb-color-gray-1: hsl(222, 13%, 16%);
  --sb-color-gray-2: hsl(222, 11%, 23%);
  --sb-color-gray-3: hsl(225, 9%, 36%);
  --sb-color-gray-4: hsl(221, 8%, 56%);
  --sb-color-gray-5: hsl(228, 8%, 77%);
  --sb-color-gray-6: hsl(231, 23%, 94%);
  --sb-color-black: hsl(0, 0%, 100%);

  --sb-color-accent-dark: hsl(var(--sb-hue-accent), 80%, 30%);
  --sb-color-accent: hsl(var(--sb-hue-accent), 90%, 60%);
  --sb-color-accent-light: hsl(var(--sb-hue-accent), 88%, 90%);

  --sb-color-status-red-dark: hsl(var(--sb-hue-status-red), 80%, 30%);
  --sb-color-status-red: hsl(var(--sb-hue-status-red), 90%, 60%);
  --sb-color-status-red-light: hsl(var(--sb-hue-status-red), 80%, 90%);
  --sb-hue-status-purple: 281;
  --sb-color-status-purple-dark: hsl(var(--sb-hue-status-purple), 39%, 30%);
  --sb-color-status-purple: hsl(var(--sb-hue-status-purple), 90%, 60%);
  --sb-color-status-purple-light: hsl(var(--sb-hue-status-purple), 80%, 90%);
  --sb-color-status-orange-dark: hsl(var(--sb-hue-status-orange), 80%, 25%);
  --sb-color-status-orange: hsl(var(--sb-hue-status-orange), 90%, 60%);
  --sb-color-status-orange-light: hsl(var(--sb-hue-status-orange), 90%, 88%);
  --sb-color-status-green-dark: hsl(var(--sb-hue-status-green), 80%, 22%);
  --sb-color-status-green: hsl(var(--sb-hue-status-green), 90%, 60%);
  --sb-color-status-green-light: hsl(var(--sb-hue-status-green), 85%, 90%);

  /* Shadows (light mode) */
  --sb-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
    0px 2px 1px hsla(0, 0%, 0%, 0.06);
  --sb-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.03),
    0px 5px 2px hsla(0, 0%, 0%, 0.03), 0px 3px 2px hsla(0, 0%, 0%, 0.06),
    0px 1px 1px hsla(0, 0%, 0%, 0.06);
  --sb-shadow-lg: 0px 25px 7px rgba(0, 0, 0, 0.01),
    0px 16px 6px hsla(0, 0%, 0%, 0.03), 0px 9px 5px hsla(223, 13%, 10%, 0.08),
    0px 4px 4px hsla(0, 0%, 0%, 0.16), 0px 4px 2px hsla(0, 0%, 0%, 0.04);
}
