:root {
  /* Colors (dark mode) */
  --sb-color-white: hsl(0, 0%, 100%); /* “white” */
  --sb-color-gray-1: hsl(231, 23%, 94%);
  --sb-color-gray-2: hsl(228, 8%, 77%);
  --sb-color-gray-3: hsl(221, 8%, 56%);
  --sb-color-gray-4: hsl(225, 9%, 36%);
  --sb-color-gray-5: hsl(222, 11%, 23%);
  --sb-color-gray-6: hsl(222, 13%, 16%);
  --sb-color-black: hsl(223, 13%, 10%);

  --sb-hue-orange: 41;
  --sb-color-orange-low: hsl(var(--sb-hue-orange), 39%, 22%);
  --sb-color-orange: hsl(var(--sb-hue-orange), 82%, 63%);
  --sb-color-orange-high: hsl(var(--sb-hue-orange), 82%, 87%);
  --sb-hue-green: 101;
  --sb-color-green-low: hsl(var(--sb-hue-green), 39%, 22%);
  --sb-color-green: hsl(var(--sb-hue-green), 82%, 63%);
  --sb-color-green-high: hsl(var(--sb-hue-green), 82%, 87%);
  --sb-hue-blue: 234;
  --sb-color-blue-low: hsl(var(--sb-hue-blue), 54%, 20%);
  --sb-color-blue: hsl(var(--sb-hue-blue), 100%, 60%);
  --sb-color-blue-high: hsl(var(--sb-hue-blue), 100%, 87%);
  --sb-hue-purple: 281;
  --sb-color-purple-low: hsl(var(--sb-hue-purple), 39%, 22%);
  --sb-color-purple: hsl(var(--sb-hue-purple), 82%, 63%);
  --sb-color-purple-high: hsl(var(--sb-hue-purple), 82%, 89%);
  --sb-hue-red: 339;
  --sb-color-red-low: hsl(var(--sb-hue-red), 39%, 22%);
  --sb-color-red: hsl(var(--sb-hue-red), 82%, 63%);
  --sb-color-red-high: hsl(var(--sb-hue-red), 82%, 87%);

  --sb-hue-accent: var(--sb-hue-blue);
  --sb-color-accent-low: hsl(var(--sb-hue-accent), 54%, 20%);
  --sb-color-accent: hsl(var(--sb-hue-accent), 100%, 60%);
  --sb-color-accent-high: hsl(var(--sb-hue-accent), 100%, 87%);

  --sb-color-text: var(--sb-color-gray-2);
  --sb-color-text-accent: var(--sb-color-accent-high);
  --sb-color-text-invert: var(--sb-color-accent-low);
  --sb-color-bg: var(--sb-color-black);

  /* Shadows (dark mode) */
  --sb-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12),
    0px 2px 1px hsla(0, 0%, 0%, 0.24);
  --sb-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08),
    0px 5px 2px hsla(0, 0%, 0%, 0.08), 0px 3px 2px hsla(0, 0%, 0%, 0.12),
    0px 1px 1px hsla(0, 0%, 0%, 0.15);
  --sb-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03),
    0px 16px 6px hsla(0, 0%, 0%, 0.1), 0px 9px 5px hsla(223, 13%, 10%, 0.33),
    0px 4px 4px hsla(0, 0%, 0%, 0.75), 0px 4px 2px hsla(0, 0%, 0%, 0.25);

  /* Gradients (unchanged across dark & light modes) */
  --sb-gradient-blue-purple: linear-gradient(
    to bottom,
    hsl(234, 100%, 59.8%) 0%,
    hsl(281, 82.1%, 62.7%) 100%
  );
  --sb-gradient-red-pink: linear-gradient(
    to bottom,
    hsl(0, 67.9%, 52.4%) 0%,
    hsl(295, 100%, 62.7%) 100%
  );
  --sb-gradient-orange-yellow: linear-gradient(
    to bottom,
    hsl(54, 93.5%, 57.6%) 0%,
    hsl(14, 100%, 66.5%) 100%
  );
  --sb-gradient-blue-green: linear-gradient(
    to bottom,
    hsl(165, 86.6%, 62%) 0%,
    hsl(227, 58.4%, 44.3%) 100%
  );

  /* Text size and line height */
  --sb-text-sm: 0.8125rem; /* 13px */
  --sb-text-base: 1rem; /* 16px */
  --sb-text-lg: 1.125rem; /* 18px */
  --sb-text-xl: 1.25rem; /* 20px */
  --sb-text-2xl: 1.5rem; /* 24px */
  --sb-text-3xl: 1.8125rem; /* 29px */
  --sb-text-4xl: 2.1875rem; /* 35px */
  --sb-text-5xl: 2.625rem; /* 42px */

  --sb-text-body: var(--sb-text-base);
  --sb-text-body-sm: var(--sb-text-sm);
  --sb-text-code: var(--sb-text-base);
  --sb-text-code-sm: var(--sb-text-sm);
  --sb-text-h1: var(--sb-text-5xl);
  --sb-text-h2: var(--sb-text-4xl);
  --sb-text-h3: var(--sb-text-3xl);
  --sb-text-h4: var(--sb-text-2xl);
  --sb-text-h5: var(--sb-text-lg);

  --sb-line-height: 1.8;
  --sb-line-height-headings: 1.2;

  --sb-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sb-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --__sb-font: var(--sb-font, ''), var(--sb-font-system);
  --__sb-font-mono: var(--sb-font-mono, ''), var(--sb-font-system-mono);

  /** Key layout values */
  --sb-nav-height: 4rem;
  --sb-sidebar-width: 18.75rem;
  --sb-content-width: 45rem;

  /* Global z-index values */
  --sb-z-index-navbar: 10;
}

:root[data-theme='light'] {
  /* Colours (light mode) */
  --sb-color-white: hsl(223, 13%, 10%);
  --sb-color-gray-1: hsl(222, 13%, 16%);
  --sb-color-gray-2: hsl(222, 11%, 23%);
  --sb-color-gray-3: hsl(225, 9%, 36%);
  --sb-color-gray-4: hsl(221, 8%, 56%);
  --sb-color-gray-5: hsl(228, 8%, 77%);
  --sb-color-gray-6: hsl(231, 23%, 94%);
  --sb-color-black: hsl(0, 0%, 100%);

  --sb-color-orange-high: hsl(var(--sb-hue-orange), 80%, 25%);
  --sb-color-orange: hsl(var(--sb-hue-orange), 90%, 60%);
  --sb-color-orange-low: hsl(var(--sb-hue-orange), 90%, 88%);
  --sb-color-green-high: hsl(var(--sb-hue-green), 80%, 22%);
  --sb-color-green: hsl(var(--sb-hue-green), 90%, 60%);
  --sb-color-green-low: hsl(var(--sb-hue-green), 85%, 90%);
  --sb-color-blue-high: hsl(var(--sb-hue-blue), 80%, 30%);
  --sb-color-blue: hsl(var(--sb-hue-blue), 90%, 60%);
  --sb-color-blue-low: hsl(var(--sb-hue-blue), 88%, 90%);
  --sb-color-purple-high: hsl(var(--sb-hue-purple), 39%, 30%);
  --sb-color-purple: hsl(var(--sb-hue-purple), 90%, 60%);
  --sb-color-purple-low: hsl(var(--sb-hue-purple), 80%, 90%);
  --sb-color-red-high: hsl(var(--sb-hue-red), 80%, 30%);
  --sb-color-red: hsl(var(--sb-hue-red), 90%, 60%);
  --sb-color-red-low: hsl(var(--sb-hue-red), 80%, 90%);

  --sb-color-accent-high: hsl(var(--sb-hue-accent), 80%, 30%);
  --sb-color-accent: hsl(var(--sb-hue-accent), 90%, 60%);
  --sb-color-accent-low: hsl(var(--sb-hue-accent), 88%, 90%);

  --sb-color-text-accent: var(--sb-color-accent);
  --sb-color-text-invert: var(--sb-color-black);

  /* Shadows (light mode) */
  --sb-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
    0px 2px 1px hsla(0, 0%, 0%, 0.06);
  --sb-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.03),
    0px 5px 2px hsla(0, 0%, 0%, 0.03), 0px 3px 2px hsla(0, 0%, 0%, 0.06),
    0px 1px 1px hsla(0, 0%, 0%, 0.06);
  --sb-shadow-lg: 0px 25px 7px rgba(0, 0, 0, 0.01),
    0px 16px 6px hsla(0, 0%, 0%, 0.03), 0px 9px 5px hsla(223, 13%, 10%, 0.08),
    0px 4px 4px hsla(0, 0%, 0%, 0.16), 0px 4px 2px hsla(0, 0%, 0%, 0.04);
}
