*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: dark;
  accent-color: var(--sb-color-accent);
}

html[data-theme='light'] {
  color-scheme: light;
}

body {
  font-family: var(--__sb-font);
  line-height: var(--sb-line-height);
  -webkit-font-smoothing: antialiased;
  color: var(--sb-color-text);
  background-color: var(--sb-color-bg);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: var(--sb-color-text-accent);
}
