:root {
  --astro-code-color-text: var(--sb-color-white);
  --astro-code-color-background: var(--sb-color-gray-6);
  --astro-code-token-constant: var(--sb-color-blue-high);
  --astro-code-token-string: var(--sb-color-green-high);
  --astro-code-token-comment: var(--sb-color-gray-2);
  --astro-code-token-keyword: var(--sb-color-purple-high);
  --astro-code-token-parameter: var(--sb-color-red-high);
  --astro-code-token-function: var(--sb-color-red-high);
  --astro-code-token-string-expression: var(--sb-color-green-high);
  --astro-code-token-punctuation: var(--sb-color-gray-2);
  --astro-code-token-link: var(--sb-color-blue-high);
}
