---
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Aside, LinkButton } from '@astrojs/starlight/components';

// TODO(HiDeoo) delete this page and its parent directory.
---

<StarlightPage frontmatter={{ title: 'My custom page' }}>
	<AnchorHeading level="2" id="sub-heading">My Sub heading</AnchorHeading>

	<p>My custom page content and a <a href="/">link</a> to the home page.</p>

	<p>
		<LinkButton href="/getting-started/">Get started</LinkButton>
		<LinkButton href="/reference/configuration/" variant="secondary">
			Configuration Reference
		</LinkButton>
	</p>

	<Aside>Some content in an aside with a <a href="/">link</a> to the home page.</Aside>

	<aside aria-label="Infos">
		This page imports the StarlightPage component after <code>AnchorHeading</code>
		and get an invalid layer order.
	</aside>
</StarlightPage>

<style>
	aside {
		border: 1px dashed var(--sl-color-gray-1);
		padding: 1rem;
		font-style: italic;
	}
</style>
