---
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
import { LinkButton } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

// TODO(HiDeoo) Remove this file
---

<StarlightPage frontmatter={{ title: 'Test 3' }}>
	<AnchorHeading level="2" id="test">Test</AnchorHeading>

	<p>
		<a href="https://starlight.astro.build/">Read more in the Starlight docs</a>
	</p>

	<p>
		<LinkButton href="/getting-started/">Get started</LinkButton>
		<LinkButton href="/reference/configuration/" variant="secondary">
			Configuration Reference
		</LinkButton>
	</p>
</StarlightPage>
