.starlight-aside {
	padding: 1rem;
	border: 1px solid;
	border-radius: 0.5rem;
	color: var(--sl-color-white);
	font-size: 0.9375rem;
}
.starlight-aside--note {
	--sl-color-asides-text-accent: var(--sl-color-blue-high);
	border-color: var(--sl-color-blue);
	background-color: color-mix(in srgb, var(--sl-color-blue-low), transparent 75%);
}
.starlight-aside--tip {
	--sl-color-asides-text-accent: var(--sl-color-purple-high);
	border-color: var(--sl-color-purple);
	background-color: color-mix(in srgb, var(--sl-color-purple-low), transparent 75%);
}
.starlight-aside--caution {
	--sl-color-asides-text-accent: var(--sl-color-orange-high);
	border-color: var(--sl-color-orange);
	background-color: color-mix(in srgb, var(--sl-color-orange-low), transparent 75%);
}
.starlight-aside--danger {
	--sl-color-asides-text-accent: var(--sl-color-red-high);
	border-color: var(--sl-color-red);
	background-color: color-mix(in srgb, var(--sl-color-red-low), transparent 75%);
}

.starlight-aside__title {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-weight: 600;
	line-height: var(--sl-line-height-headings);
}

.starlight-aside__icon {
	color: var(--sl-color-asides-text-accent);
	width: 1em;
	height: 1em;
}

.starlight-aside__title + .starlight-aside__content {
	margin-top: 0.5rem;
}

.starlight-aside__content a {
	color: var(--sl-color-asides-text-accent);
}
