.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
@media (min-width: 50rem) {
  .md\:hidden {
    display: none;
  }
  .md\:flex {
    display: flex;
  }
  .md\:block {
    display: block;
  }
}
@media (min-width: 72rem) {
  .lg\:hidden {
    display: none;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:block {
    display: block;
  }
}
