---
import StarlightPage, {
	type StarlightPageProps,
} from '@astrojs/starlight/components/StarlightPage.astro';

// TODO(HiDeoo) Remove this file.

// This is a copy of the global sidebar. This could be exported & shared between the config and
// this page. I just didn't want to export the sidebar from the config file for this test.
const sidebar: StarlightPageProps['sidebar'] = [
	{
		label: 'Start Here',
		translations: {
			de: 'Beginne hier',
			es: 'Comienza aqui',
			ja: 'ここからはじめる',
			fr: 'Commencez ici',
			it: 'Inizia qui',
			id: 'Mulai dari sini',
			'zh-CN': '从这里开始',
			'pt-BR': 'Comece Aqui',
			'pt-PT': 'Comece Aqui',
			ko: '여기서부터',
			tr: 'Buradan Başlayın',
			ru: 'Первые шаги',
			hi: 'यहाँ से शुरू करे',
			uk: 'Почніть звідси',
		},
		items: [
			'getting-started',
			'manual-setup',
			{
				label: 'Environmental Impact',
				slug: 'environmental-impact',
				translations: {
					de: 'Umweltbelastung',
					es: 'Documentación ecológica',
					ja: '環境への負荷',
					fr: 'Impact environnemental',
					it: 'Impatto ambientale',
					id: 'Dampak terhadap lingkungan',
					'zh-CN': '环境影响',
					'pt-BR': 'Impacto Ambiental',
					'pt-PT': 'Impacto Ambiental',
					ko: '환경적 영향',
					tr: 'Çevre Etkisi',
					ru: 'Влияние на окружающую среду',
					hi: 'पर्यावरणीय प्रभाव',
					uk: 'Вплив на довкілля',
				},
			},
			{
				label: 'Test 1',
				link: '/test-1/',
			},
		],
	},
	{
		label: 'Guides',
		translations: {
			de: 'Anleitungen',
			es: 'Guías',
			ja: 'ガイド',
			fr: 'Guides',
			it: 'Guide',
			id: 'Panduan',
			'zh-CN': '指南',
			'pt-BR': 'Guias',
			'pt-PT': 'Guias',
			ko: '가이드',
			tr: 'Rehber',
			ru: 'Руководства',
			hi: 'गाइड',
			uk: 'Ґайди',
		},
		autogenerate: { directory: 'guides' },
	},
	{
		label: 'Reference',
		translations: {
			de: 'Referenz',
			es: 'Referencias',
			ja: 'リファレンス',
			fr: 'Référence',
			it: 'Riferimenti',
			id: 'Referensi',
			'zh-CN': '参考',
			'pt-BR': 'Referência',
			ko: '참조',
			tr: 'Referanslar',
			ru: 'Справочник',
			hi: 'संदर्भ',
			uk: 'Довідник',
		},
		autogenerate: { directory: 'reference' },
	},
	{
		label: 'Resources',
		badge: 'New',
		translations: {
			'zh-CN': '资源',
			fr: 'Ressources',
			'pt-BR': 'Recursos',
			'pt-PT': 'Recursos',
			ja: 'リソース',
			ru: 'Ресурсы',
		},
		autogenerate: { directory: 'resources' },
	},
];

// Add a new autogenerate group to the sidebar
sidebar.push({
	label: 'More Resources',
	badge: { text: 'Newer', variant: 'danger' },
	autogenerate: { directory: 'resources' },
});

// Add another new group
sidebar.push({
	label: 'Tests',
	items: [
		{ label: 'Test 1', link: '/test-1/' },
		{ label: 'Test 2', link: '/test-2/' },
		{ label: 'Test 3', link: '/test-3/' },
	],
});
---

<StarlightPage frontmatter={{ title: 'Test 2' }} {sidebar}>
	<p>
		The global <code>sidebar</code> config is re-used with <code>StarlightPage</code> in this custom
		page and new groups/links have been appended to it.
	</p>
	<p>Continue to the <a href="/test-3/">next test page</a>.</p>
</StarlightPage>
