---
import { Icon } from 'astro-icon/components';
interface Props {
	title: string;
	theme: string;
}

const { title, theme } = Astro.props;
---

<article class="sl-flex" aria-labelledby="about-astro-heading">
	<small id="about-astro-heading">
		{title}
		<span class="sr-only">Axal</span>
	</small>
	{theme === 'dark' ? (
		<img src = "/src/assets/axal-light.svg" class="axal-img" alt="Axal" />
		<img src="/src/assets/axal-worm-light.svg" class="axal-img" alt="Axal" />
	) : (
		<img src="/src/assets/axal-dark.svg" class="axal-img" alt="Axal" />
		<img src="/src/assets/axal-worm-dark.svg" class="axal-img" alt="Axal" />
	)}

	<p>
		Axal is the best way to get the best yield from your crypto investments.
	</p>
	<p>
		<a href="https://ax.al" target="_blank" rel="noopener" style="white-space: nowrap; display: inline-flex; align-items: center; gap: 4px;">Learn more about Axal <Icon name="lucide:external-link" width="16" height="16" style="display: inline;" /></a>
	</p>
</article>

<style>
	article {
		max-width: 40rem;
		margin-inline: auto;
		padding-block: 5rem;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0.5rem;
	}
	article > :global(*) {
		max-width: 50ch;
		margin-top: 0 !important;
	}
	small {
		color: var(--sl-color-gray-3);
	}
	.axal-img {
		height: 50px;
		width: auto;
	}
</style>
