<table>
	<tr>
		<td>Built-in string</td>
		<td><code>skipLink.label</code></td>
		<td>{Astro.locals.t('skipLink.label')}</td>
	</tr>
	<tr>
		<td>User-defined string</td>
		<td><code>user.test</code></td>
		<td>{Astro.locals.t('user.test')}</td>
	</tr>
	<tr>
		<td>Plugin-defined string</td>
		<td><code>plugin.test</code></td>
		<td>{Astro.locals.t('plugin.test')}</td>
	</tr>
</table>
