---
interface Props {
	href?: string | undefined;
	title: string;
	description?: string | undefined;
}
const { href, title, description } = Astro.props;
const El = href ? 'a' : 'span';
---

<li class="not-content sl-flex">
	<El class="media-card sl-flex" {href}>
		<div class="media"><slot /></div>
		<div class="meta sl-flex">
			<p class="title">{title}</p>
			{description && <p class="description" set:html={description} />}
		</div>
	</El>
</li>

<style>
	.media-card {
		flex-direction: column;
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		overflow: hidden;
		text-decoration: none;
		box-shadow: var(--sl-shadow-sm);
		width: 100%;
	}
	a:hover {
		border-color: var(--sl-color-gray-2);
		background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
	}
	.meta {
		padding: 0.75rem 1rem;
		flex-direction: column;
		gap: 0.5rem;
	}
	.title {
		color: var(--sl-color-white);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
	}
	.description {
		color: var(--sl-color-gray-3);
		line-height: 1.5;
	}
	.media {
		border-bottom: 1px solid var(--sl-color-gray-5);
	}

	.media :global(img) {
		display: block;
		max-width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}
</style>
