---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="testimonial-wrapper not-content">
	<h2 class="testimonial-grid-title">{title}</h2>
	<ul class="testimonial-grid">
		<slot />
	</ul>
</div>

<style>
	.testimonial-wrapper:not(.testimonial-grid-title) {
		margin-block: 7rem 2.5rem;
		font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
	}
	.testimonial-grid-title {
		text-align: center;
		font-size: var(--sl-text-h3);
		font-weight: 600;
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
	}
	.testimonial-grid {
		margin-top: 2.5rem;
		list-style: none;
		display: grid;
		grid-template-columns: auto;
		gap: 5em;
		padding-inline-start: 0;
	}

	.testimonial-grid > :global(*) {
		margin-top: 0 !important;
	}

	@media (min-width: 50rem) {
		.testimonial-grid {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
