---
interface Props {
  light?: boolean;
}
---

<div class="not-content">
  <div class="palette flex">
    <div style="--bg:var(--sl-color-accent-low)"></div>
    <div style="--bg:var(--sl-color-accent)"></div>
    <div style="--bg:var(--sl-color-accent-high)"></div>
  </div>
  <div class="palette flex">
    <div style="--bg:var(--sl-color-white)"></div>
    <div style="--bg:var(--sl-color-gray-1)"></div>
    <div style="--bg:var(--sl-color-gray-2)"></div>
    <div style="--bg:var(--sl-color-gray-3)"></div>
    <div style="--bg:var(--sl-color-gray-4)"></div>
    <div style="--bg:var(--sl-color-gray-5)"></div>
    <div style="--bg:var(--sl-color-gray-6)"></div>
    {
      Astro.props.light ? (
        <div style="--bg:var(--sl-color-gray-7)" />
      ) : (
        <div style="--bg:var(--sl-color-black)" />
      )
    }
    <div style="--bg:var(--sl-color-black)"></div>
  </div>
</div>

<style>
  .palette > * {
    aspect-ratio: 1;
    flex-grow: 1;
    background-color: var(--bg);
  }
</style>
