:root {
	--purple-hsl: 255, 60%, 60%;
	--overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme='light'] {
	--purple-hsl: 255, 85%, 65%;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
		radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
	filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-has-hero] .sl-banner {
	--sl-color-banner-bg: #f5574a;
	--sl-color-banner-text: #fff;
	border-block: 1px solid #fff6;
	font-size: 1.125rem;
}

[data-has-hero] .sl-banner a {
	text-decoration: 1px underline;
	text-underline-offset: .1em;
}

@media (min-width: 50em) {
	[data-has-hero] .sl-banner {
		font-size: 1.5rem;
	}
}
