name: Discord Notification on Push

on:
  push:
    branches: [main]

jobs:
  congrats:
    name: CongratsBot
    if: ${{ github.repository_owner == 'withastro' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup PNPM
        uses: pnpm/action-setup@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'

      - id: message
        name: Format Discord message
        env:
          COMMIT_AUTHOR: ${{ github.event.commits[0].author.name }}
          COMMIT_MESSAGE: ${{ github.event.commits[0].message }}
          COMMIT_ID: ${{ github.event.commits[0].id }}
        run: node ./.github/congratsbot.mjs

      - name: Send a Discord notification when a PR is merged
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_CONGRATS }}
        uses: Ilshidur/action-discord@0.3.2
        with:
          args: '${{ steps.message.outputs.DISCORD_MESSAGE }}'
